/*-- Body Reset --*/
body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  color: #616971;
}


.top-bar {
  background-color: #80CCCC;
  height: 2.8rem;
  padding: .5rem 0;
}

.top-bar a {
  text-decoration: none;
  color: #B2FFFF;
  font-size: 1.1rem;
}


.navbar-brand img {
  height: 4rem;
  border-radius: 50%;
}

.navbar {
  font-size: 1.15rem;
  font-weight: 600;
  letter-spacing: .1rem;
  box-shadow: 0 .5rem .5rem rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.nav-item {
  padding: 0.5rem;
}

.nav-link {
  color: #5b5555!important;
}

.nav-link.active, 
.nav-link:hover {
  color: #4981B3!important;

}


#carousel {
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
}

.carousel-inner {
  max-height: 38rem!important;
}



.carousel-item-next, .carousel-item-previous, .carousel-item-active {
  transition: transform 1.2s ease;
}


.carousel-caption {
  position: absolute;
  top: 24%;
  transform: translateY(20%);
  transform: translateX(20%);
  
}

.bg-custom {
  background-color: rgba(0, 0, 0, 0.4)!important;
  color: white;
  border-radius: 1rem;
}

.bg-custom .ice {
  background: transparent;
}

.carousel-caption h1 {
  font-size: 3.8rem;
  text-shadow: .1rem .1rem .3rem rgba(0, 0, 0, 1);
}

.border-primary {
  border-top: .2rem solid #4981B3!important;
}
.carousel-caption h3 {
  
  text-shadow: .1rem .1rem .2rem rgba(0, 0, 0, 1);
}

.btn-lg {
  font-family: "Encode Sans SC";
}
.btn-lg {
  text-transform: uppercase;
  font-family: "Encode Sans SC";
  border-radius: 0;
  border-width: medium; 
  font-size: 1rem;
}

.btn-danger {
  background-color: #ac2615;
  border: 0.5rem solid #ac2615;
}

.btn-primary {
  background-color: #80CCCC;
  border: 0.5rem solid #80CCCC;
}

.btn-primary:hover, 
.btn-primary:focus {
  background-color: #68a0d2!important;
  border: 0.1rem solid #68a0d2!important;
}

.btn-danger:hover, 
.btn-danger:focus {
  border: 0.1rem solid 
}


.fixed-background {
  overflow: hidden; /*-- Correction for iOS --*/
  padding: 10rem 0;
}

.fixed {
  background-image: url('../img/gc.jpg');
  position: fixed;
}



.about {
  background-image: linear-gradient(to right, #80CCCC, #B2FFFF);
  min-height: 0!important;
  padding: .4rem 0!important;
}

.about .svg-inline--fa {
  margin: 0 auto;
  color: white;
  font-size: 2rem;
}



footer {
  padding: 1rem 2rem 3rem;
}

footer img {
  height: 3.5rem;
  margin: 1.5rem auto;
}

footer p, footer a, 
.socket a {
  color: white;
  text-decoration: none;
}

ul.social {
  list-style-type: none;
  display: flex;
  max-width: 16rem;
  margin: 0 auto;
  padding: 0;
}

ul.social li {
  margin: 0 auto;

}

footer .svg-inline--fa {
  font-size: 2.3rem;
}

footer .svg-inline--fa:hover {
  color: #68a0d2
}



.socket {
  background-color: #222;
  border-top: .1rem solid #4981b3;
}



/* Devices under 1199px (xl) */
@media (max-width: 1199.98px) {
  .carousel-caption h1 {
    font-size: 2.8rem;
    
  }
  
 
  .carousel-caption h3 {
    
    font-size: 1.8rem;
  }
  

}

@media (max-width: 991.98px) {
  .carousel-caption h1 {
    font-size: 2.5rem;
    
  }
  
 
  .carousel-caption h3 {
    
    font-size: 1.5rem;
  }

  .btn-lg {
    font-size: .95rem;
  }

}

.contact-form {
 
  
}

.contact-us {
  max-width: 800px;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  
}
.whole-body {
  background-image: url("https://images.unsplash.com/photo-1609726866022-1ce719b4727b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=80")
  background-repeat: no-repeat;
}

.contact-us .title {
  font-size: 2rem;
  text-align: center;
  letter-spacing: 3px;
  line-height: 48px;
  
  background: linear-gradient(to right, #b2ffff 0%, #80CCCC) 100%;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact-form .form-field {
  position: relative;
  margin: 32px 0;
}

.contact-form .input-text {
  display: block;
  width: 100%;
  height: 36;
  border-width: 0 0 2px 0;
  border-color: #5543ca;
  font-size: 18px;
  line-height: 26px;
}

.contact-form .input-text:focus {
  outline: none;
}

.contact-form .label {
  position: absolute;
  left: 20px;
  bottom: 11px;
  font-size: 18px;
  line-height: 26px;
  color: #5543ca;
  transition: transform 0.2s ease-in-out;
  text-transform: capitalize;
}

.contact-form .submit-btn {
  display: inline-block;
  background: linear-gradient(125deg, #b2ffff, #80CCCC);
  color: #fff;
  letter-spacing: 2px;
  font-size: 18px;
  padding: 8px 16px;
  border: none;
  width: 200px;
  cursor: pointer;
}

.contact-form .input-text:focus + .label, 
.contact-form .input-text.not-empty + .label {
  transform: translateY(-24px);
}

.card {
  box-shadow: .3rem .3rem .3rem rgba(0, 0, 0, 0.1);
}

.card:hover {
  box-shadow: .6rem .6rem .6rem rgba(0, 0, 0, 0.4);
}

.big-em {
  font-style: italic;
  font-size: 20px;
}



.row, .container-fluid {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.fixed-background {
  position: relative;
  width: 100%;
  z-index: 1000!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999 !important;
}
.fixed {
  z-index: -999!important;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}

